<html>
  <head>
    <title>
      Lofin-Form
    </title>
  </head>
  <h1>Login Form</h1><br/><br/><br/>
  <body>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>
    First Name:
    <input type="text" formControlName="firstname">
    <span *ngIf = "!profileForm.controls['firstname'].valid">*</span>
</label>
<label>
    Last Name:
    <input type="text" formControlName="lastname">
    <span *ngIf = "!profileForm.controls['lastname'].valid">*</span>
</label><br/><br/>
<label>
    Email-ID:
    <input type="text"  formControlName="emailid">
    <span *ngIf = "!profileForm.controls['emailid'].valid">*</span>
</label>
<label>
    Contact No.:
    <input type="text"  formControlName="contactno">
    <span *ngIf = "!profileForm.controls['contactno'].valid">*</span>
</label><br/><br/>
<label>
    Password:
    <input type="text"  formControlName="password">
    <span *ngIf = "!profileForm.controls['password'].valid">*</span>
</label>
<label>
    Confirm Password:
    <input type="text"  formControlName="confirmpassword">
    <span *ngIf = "!profileForm.controls['confirmpassword'].valid">*</span>
</label><br/><br/>
<label>
    Gender:
    <input type="text"  formControlName="gender">
    <span *ngIf = "!profileForm.controls['gender'].valid">*</span>
</label>
<label>
    Emp-ID:
    <input type="text"  formControlName="empid">
    <span *ngIf = "!profileForm.controls['empid'].valid">*</span>
</label><br/><br/>
<button type="submit" [disabled]="!profileForm.valid">Click me</button>
</form>
</body>
</html>