<html>
<head>
  <title>
    tabledata
  </title>
</head>
<body>
<h1>Reactive Form Data</h1>
<table>
    <tr>
      <th>
        First Name:
      </th>
      <td>
        "{{viewdata.firstname}}"
      </td>
    </tr>
    <br/>
    <tr>
      <th>
        Last Name:
      </th>
      <td>
        "{{viewdata.lastname}}"
      </td>
    </tr>
    <br/>
    <tr>
      <th>
        Email-ID:
      </th>
      <td>
        "{{viewdata.emailid}}"
      </td>
    </tr>
    <br/>
    <tr>
      <th>
        Contact No.:
      </th>
      <td>
        "{{viewdata.emailid}}"
      </td>
    </tr>
    <br/>
    <tr>
      <th>
        Password:
      </th>
      <td>
        "{{viewdata.password}}"
      </td>
    </tr>
    <br/>
    <tr>
      <th>
        Confirm Password:
      </th>
      <td>
        "{{viewdata.confirmpassword}}"
      </td>
    </tr>
    <br/>
    <tr>
      <th>
        Gender:
      </th>
      <td>
        "{{viewdata.gender}}"
      </td>
    </tr>
    <br/>
    <tr>
      <th>
        Emp-ID:
      </th>
      <td>
        "{{viewdata.empid}}"
      </td>
    </tr>
  </table>
  <button type="button" (click)=editdata()>Edit Form</button>
</body>
</html>
