<html>
  <head>
    <title>
      Login-Form
    </title>
  </head>
  
  <body>
<form [formGroup]="reactiveform" (ngSubmit)="formdata()">
    <div class="centerPosition">
  <label>
    First Name:<br/>
    <input class="stylebox" type="text" formControlName="firstname" placeholder="First Name"/>
    <div class="styling" *ngIf= "reactiveform.controls['firstname'].touched && reactiveform.controls['firstname'].invalid">*Please enter your First Name</div>
    &nbsp;&nbsp;
</label><br/>
<label>
    Last Name:<br/>
    <input class="stylebox" type="text" formControlName="lastname" placeholder="Last Name" />
    <div class="styling" *ngIf = "reactiveform.controls['lastname'].touched && reactiveform.controls['lastname'].invalid">*Please enter your Last Name</div>
</label><br/>
<label>
    Email-ID:<br/>
    <input class="stylebox" type="text"  formControlName="emailid" placeholder="Email-ID" />
    <div class="styling" *ngIf = "reactiveform.controls['emailid'].touched && reactiveform.controls['emailid'].invalid">*Enter Valid Email-ID</div>
</label><br/>
<label>
    Contact No.:<br/>
    <input class="stylebox" type="text"  formControlName="contactno" placeholder="Contact No." />
    <div class="styling" *ngIf = "reactiveform.controls['contactno'].touched && reactiveform.controls['contactno'].invalid">*Enter Valid Contact Number</div>
</label><br/>
<label>
    Password:<br/>
    <input class="stylebox" type="password"  formControlName="password" placeholder="Password" />
    <div class="styling" *ngIf = "reactiveform.controls['password'].touched && reactiveform.controls['password'].invalid">*Enter Password(8-20 chracters length)</div>
    &nbsp;
</label><br/>
<label>
    Confirm Password:<br/>
    <input class="stylebox" type="password"  formControlName="confirmpassword" (keyup)="password_verify()" placeholder="Confirm Password" />
    <div class="styling" *ngIf = "reactiveform.controls['password'].touched && reactiveform.controls['confirmpassword'].invalid">Re-enter Correct Password</div>
</label><br/>
<label>
    Gender:<br/>
    <input class="stylebox" type="text"  formControlName="gender" placeholder="Gender" />
    <div class="styling" *ngIf = "reactiveform.controls['gender'].touched && reactiveform.controls['gender'].invalid">*M/F/O</div>
</label><br/>
<label>
    Emp-ID:<br/>
    <input class="stylebox" type="text"  formControlName="empid" placeholder="Emp-ID" />
    <div class="styling" *ngIf = "reactiveform.controls['empid'].touched && reactiveform.controls['empid'].invalid">*Enter correct Employee ID</div>
</label><br/>&nbsp;
<input type="submit" [disabled]="!reactiveform.valid">
</div>
</form>
</body>
</html>
